.todo_wrapper {
  list-style-type: none;
  background-color: brown;
  padding-left: 0px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}
.todo_wrapper li {
  padding: 8px 0px;
  border-bottom: 1px solid white;
}
.todo_wrapper li:last-child {
  border-bottom: none;
}
.complete {
  text-decoration: line-through;
}
.all_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single_task {
  display: flex;
  justify-content: space-between;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
}
.input_wrapper input {
  margin-bottom: 8px;
  border-radius: 3px;
}
.action_wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}
